body {
	margin:0;
	padding:0;
	font-family: sans-serif;
	color: #333;
	background: #8CC63F url(../img/iphone-background.png) center top no-repeat;
}

.image-replacement{
	display: block;
	text-indent: -9999px;
	background-image: url(../img/sprite-sheet.png);
	background-repeat: no-repeat;
}

a{
	text-decoration: none;
}

p{
	padding: 10px;
}

ul{
	padding: 0;
	margin:0;
}

li{
	list-style: none;
}

h1, h2, h3{
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 1em;
	color:#fff;
	text-align: center;
	position: relative;
}

h1,h2, .back, #score{
	color:#fff;
	text-shadow: 0 -1px 1px #5D832A, 0 1px 1px #5D832A;
}

#game-board {
	list-style-type: none;
	overflow: hidden;
	-webkit-perspective: 1000;
}

#game-board li {
	
	cursor:pointer;
	
	float: left;
	margin: 4px;
	color: #444;
	text-align: center;
	line-height: 2em;

	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;

	position: relative;
}

#game-board li div {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	-moz-backface-visibility: hidden;
	-moz-transform-style: preserve-3d;

	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;

	-webkit-box-shadow: 0px 1px 5px #333;
	-moz-box-shadow: 0px 1px 5px #333;
	box-shadow: 0px 1px 5px #333;

	position: absolute;
	width: 100%;
	height: 100%;
}

#game-board li.hidden {
	-webkit-transform: rotateY(0deg);
	-webkit-transform-style: preserve-3d;
	-moz-transform: rotateY(0deg);
	-moz-transform-style: preserve-3d;
}

#game-board li.visible {
	-webkit-transform: rotateY(180deg);
	-webkit-transform-style: preserve-3d;
	-moz-transform: rotateY(180deg);
	-moz-transform-style: preserve-3d;
}

#game-board li div.back {
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	font-size: 0.2em;
	font-weight: bold;
	background-color: #90C140;
	color: #fff;
}

#game-board li div.front {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	background-color: #fff;
	text-shadow: 2px 2px 5px #aaa;
}


/**
 * 	Headers
 */


section header{
	height:42px;
	border-bottom: 1px solid #517225;
	border-top: 1px solid  #B0F759;
	position:relative;
	
	background: #c8f76a; /* Old browsers */
	background: -moz-linear-gradient(top, #c8f76a 0%, #93cb49 51%, #7aad37 54%, #76a735 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c8f76a), color-stop(51%,#93cb49), color-stop(54%,#7aad37), color-stop(100%,#76a735)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #c8f76a 0%,#93cb49 51%,#7aad37 54%,#76a735 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #c8f76a 0%,#93cb49 51%,#7aad37 54%,#76a735 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #c8f76a 0%,#93cb49 51%,#7aad37 54%,#76a735 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8f76a', endColorstr='#76a735',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #c8f76a 0%,#93cb49 51%,#7aad37 54%,#76a735 100%); /* W3C */
}

.plus-button{
	position: absolute;
	right: 7px;
	top:6px;
	width: 33px;
	height: 31px;
	background-position: -162px 0;
}

.back-button{
	width: 85px;
	height: 31px;
	background-position: -203px 0;
	position: absolute;
	left:10px;
	top:6px;
	z-index: 1;
}

section header h2{
	position: relative;
	top:14px;
}

.zemoga-logo{
	width: 215px;
	height: 199px;
	background-position: 0 -56px;
	margin:0 auto;
}

.menu-list{
	width: 161px;
	margin: 0 auto;
	position: relative;
	top: -40px;
}

.menu-button{
	display:block;
	width: 161px;
	height: 45px;
	margin-bottom: 10px;
	background: transparent url(../img/sprite-sheet.png) no-repeat 0 0 scroll;
	color: #66902E;
	text-align: center;
	position: relative;
	line-height: 40px;
}

#score-label{
	margin-top:20px;
	display:block;
	color: #fff;
	font-size: 3em;
	text-align: center;
	font-weight: bold;
}



/* Desktop */
#game-board li {
	width: 120px;
	height: 120px;
	font-size: 4em;
}

/* iPad */
@media all and (max-width: 800px) and (min-width: 300px) {
	#game-board li {
		width: 80px;
		height: 80px;
		font-size: 2em;
	}

}

/* iPhone */
@media all and (max-width: 420px) {
	
	#game-board{
		margin: 25px 0 0 25px;
	}
	
	#game-board li {
		width: 60px;
		height: 60px;
		font-size: 1.8em;
	}
	
	body{
		background-position: 0 0;
		width: 320px;
		height:420px;
		margin:0 auto;
		overflow: hidden;
		position: relative;
	}
	
	#sections-container{
		width: 1380px;
		overflow: hidden;
		position: absolute;
	}
	
	section{
		width: 320px;
		float: left;
	}
	
	#sections-container{
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-o-transition: 0.5s;
		-ms-transition: 0.5s;
		transition: 0.5s;
	}
}

