body {
	font-family: sans-serif;
	color: #333;
	background-color: #c0c0c0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	text-shadow: 0 1px 1px #fff;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.7em;
}

div.view {
	/* display:none; */
	border: 1px solid red;
	/* mistrastanto */
}

#game-board {
}

#game-board {
	list-style-type: none;
	overflow: hidden;
	-webkit-perspective: 1000;
}

#game-board li {
	float: left;
	margin: 4px;
	color: #444;
	text-align: center;
	line-height: 2em;
	font-size: 2em;

	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;

	position: relative;
}

#game-board li div {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	-moz-backface-visibility: hidden;
	-moz-transform-style: preserve-3d;

	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;

	-webkit-box-shadow: 0px 1px 5px #333;
	-moz-box-shadow: 0px 1px 5px #333;
	box-shadow: 0px 1px 5px #333;

	position: absolute;
	width: 100%;
	height: 100%;
}

#game-board li.hidden {
	-webkit-transform: rotateY(0deg);
	-webkit-transform-style: preserve-3d;
	-moz-transform: rotateY(0deg);
	-moz-transform-style: preserve-3d;
}

#game-board li.visible {
	-webkit-transform: rotateY(180deg);
	-webkit-transform-style: preserve-3d;
	-moz-transform: rotateY(180deg);
	-moz-transform-style: preserve-3d;
}

#game-board li div.back {
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	font-size: 0.2em;
	font-weight: bold;
	background-color: #90C140;
	color: #fff;
}

#game-board li div.front {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	background-color: #fff;
}

/* Desktop */
#game-board li {
	width: 80px;
	height: 80px;
}

/* iPad */
@media all and (max-width: 800px) and (min-width: 300px) {
	#game-board li {
		width: 60px;
		height: 60px;
		}

}

/* iPhone */
@media all and (max-width: 300px) {
	#game-board li {
		width: 40px;
		height: 40px;
		}

}

